.container-input {
    width: 100%;
    min-width: 350px !important;
    display: flex;
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
}

.container-input .input-name{
    width: 100%;
    min-width: 350px;
    background-color: var(--background-input);
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-submit {
    width: 80px !important;
    border-radius: 5px;
    background-color: var(--background-button) !important;
    margin: 5px;
    padding: 5px 10px !important;
    color: var(--text-md-dark);
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease;
}

.btn-submit:hover {
    background-color: var(--background-box-light) !important;
}